@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');

.layout {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 50px minmax(900px, auto) 75px;
  background-color: var(--bgblue);
}

.navbar {
  grid-row: 1/2;
  grid-column: 1/-1;
  background-color: var(--navbarblue);
  border-bottom: 1px solidvar(--navbarborder);
  /* display: flex;
  justify-content: space-between;
  align-items: flex-end; */
  /* padding: 0 10rem */
}

.navbarcontent {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.navbarcontent h1 {
  font-family: 'Girassol', cursive;
  color: rgb(206, 69, 27);
  font-size: 2rem;
  cursor: pointer;
}

.navbarcontent ul {
  list-style: none;
}

.navbarcontent li {
  display: inline;
  margin-right: 1rem;
  font-family: 'Girassol', cursive;
  color: rgb(206, 69, 27);
  font-size: 1.5rem;
  cursor: pointer;
}

.main {
  grid-column: 2/3;
}

@media (max-width: 768px) {
  .layout {
    grid-template-rows: 50px minmax(700px, auto) 75px;
  }

  .navbarcontent h1 {
    font-size: 1.5rem;
  }

  .navbarcontent li {
    font-size: 1rem;
  }

  .main {
    grid-column: 1/-1;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .layout {
    grid-template-rows: 50px minmax(1000px, auto) 75px;
  }
}
