@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.failure {
  text-align: center;
}

.query_message {
  text-align: center;
  color: black;
  font-family: 'Prata', serif;
}
