.hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.searchwrapper {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  // display: flex;
  // align-content: center;
}

.search input {
  font-family: 'Times New Roman', Times, serif;

  height: 2.4rem;
  font-size: 1.7rem;
  // padding: 0.2rem;
  border-radius: 3px;
  background-color: rgb(235, 235, 224);
}
.search input:focus {
  outline: 3px solid rgb(206, 69, 27);
}

.search button {
  margin-left: 1rem;
  border: 3px solid var(--tigerblood);
  background-color: transparent;
  color: rgb(235, 235, 224);
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 3px;
}
