.hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.searchwrapper {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  display: flex;
  align-content: center;
  // margin-top: 3rem;
}

.search input {
  font-family: 'Times New Roman', Times, serif;
  border: 1px solid black;
  border-radius: 3px;
  padding: 0.2rem;
  height: 100%;
  font-size: 1.7rem;
  // padding: 0.2rem;
  // border-radius: 30px;
  background-color: var(--bgblue);
}
.search input:focus {
  outline: 2px solid var(--button-color);
}

.search button {
  margin-left: 1rem;
  border: none;
  background-color: var(--button-color);
  color: var(--bgblue);
  cursor: pointer;
  padding: 0 0.5rem;
  border-radius: 3px;
}

.search button:hover {
  background-color: var(--button-color-hover);
}
