.hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.searchwrapper {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchwrapper input {
  width: 300px;
  height: 35px;
  font-size: 1.7rem;
  padding: 0.5rem;
  border-radius: 15px;
  background-color: rgb(235, 235, 224);
}
.searchwrapper input:focus {
  outline: 3px solid rgb(206, 69, 27);
}
